{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="/css/app.css">
{% endblock %}

{% block content %}
	<a href="/" class="line-logo"><img src="/images/melody-white.png" width="24"><span>streamlikes</span></a>
	<div class="app clearfix">
		<div class="track-player">
			<div class="track-info"></div>
			<audio id="player" class="novisible" src=""></audio>
		</div>
	</div>

	<div class="preloader show">Just a moment.. we are getting your streams!</div>
	<div class="preloader-overlay"></div>
{% endblock %}

{% block scripts %}
<script src="/components/mediaelement/build/mediaelement-and-player.min.js"></script>
<script src="/js/app.js"></script>
{% endblock %}