{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="/css/app.css">
{% endblock %}

{% block content %}
	<a href="/" class="line-logo"><img src="/images/melody-white.png" width="24"><span>streamlikes</span></a>
	<div class="app clearfix">
		<div class="preloader">
			<p>One moment.. we are getting your favorites!</p>
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script src="/components/audiojs/audiojs/audio.min.js"></script>
<script src="/js/app.js"></script>
{% endblock %}