{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="/css/app.css">
{% endblock %}

{% block content %}
	<a href="/" class="line-logo"><img src="/images/melody-white.png" width="24"><span>streamlikes</span></a>
	<div class="app clearfix">
		<div class="preloader">
			<p>One moment.. we are getting your favorites!</p>
		</div>
		<div class="track-player"><audio id="player" src="http://api.soundcloud.com/tracks/15367733/stream?client_id=0640e8b38ce7c1388025b13fdbbe9116" controls></audio></div>
	</div>
{% endblock %}

{% block scripts %}
<script src="/components/mediaelement/build/mediaelement-and-player.min.js"></script>
<script src="/js/app.js"></script>
{% endblock %}