{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="/css/homepage.css">
{% endblock %}

{% block content %}
	<div class="wrapper">
		<div class="logo-wrap">
			<img src="../images/melody-white.png" width="120">
			<h1 class="logo">streamlikes</h1>
		</div>
		<p class="desc">You are the web's leading music tastemaker. We create radio based on your favorites.</p>
		<div class="fb-login-wrap">
			<a href="/auth/facebook" class="fb-login"><i data-icon="b" class="icon"></i> <span>Login with Facebook</span></a>
		</div>
		<div class="socials-wrap hidden">
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="voronianski" data-hashtags="nodeknockout">Tweet</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			<div class="fb-like" data-href="http://kosmetika.2013.nodeknockout.com/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
		</div>
	</div>
{% endblock %}
