/* Stream app page */

.app {
	width: 660px;
	margin: 100px auto;
	position: relative;
}

.line-logo {
	display: block;
	color: #fff;
	font: 24px 'Montserrat Alternates', 'Helvetica Neue', sans-serif;
	text-decoration: none;
	position: absolute;
	top: 30px;
	left: 35px;
}

.line-logo img,
.line-logo span {
	display: inline-block;
}

.line-logo span {
	margin-left: 5px;
	vertical-align: top;
	line-height: 24px;
}

.line-logo:hover {
	opacity: 0.8;
}

.artists-wrap .artist {
	color: #333;
	background: #e67e22;
	float: left;
	width: 150px;
	height: 150px;
	position: relative;
	margin: 15px 15px 0 0;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.artists-wrap .artist:nth-child(4n) {
	margin-right: 0;
}

.artists-wrap .artist img {
	width: 150px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.artists-wrap .artist .name {
	position: absolute;
	z-index: 2;
	color: #fff;
	background: #252525;
	padding: 2px 5px;
	font-size: 12px;
	text-transform: uppercase;
	top: 2px;
	left: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 15px;
	max-width: 136px;
	white-space: nowrap;
}

.artists-wrap .artist .player {
	background: #252525;
	color: #fff;
	width: 50px;
	height: 50px;
	text-align: center;
	overflow: hidden;
	position: absolute;
	bottom: -100px;
	left: 2px;
	z-index: 3;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.artists-wrap .artist .player .icon {
	display: block;
	font-size: 32px;
	height: 30px;
	margin-top: 1px;
}

.artists-wrap .artist .player span {
	display: block;
	font-size: 11px;
	text-transform: uppercase;
}

.artists-wrap .artist:hover {
	opacity: 0.8;
}

.artists-wrap .artist:hover .player,
.artists-wrap .artist.playing .player {
	bottom: 2px;
}

.track-player {
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: -20px;
	left: 0;
	width: 645px;
	height: 22px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.preloader {
	position: absolute;
	top: -130px;
	left: 50%;
	margin-left: -160px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px dotted #fff;
	padding-bottom: 5px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.preloader.show {
	top: 33px;
}

.preloader-overlay {
	position: absolute;
	background: #222;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
}
