/* Stream app page */

.app {
	width: 660px;
	margin: 100px auto;
}

.line-logo {
	display: block;
	color: #fff;
	font: 24px 'Montserrat Alternates', 'Helvetica Neue', sans-serif;
	text-decoration: none;
	position: absolute;
	top: 30px;
	left: 35px;
}

.line-logo img,
.line-logo span {
	display: inline-block;
}

.line-logo span {
	margin-left: 5px;
	vertical-align: top;
	line-height: 24px;
}

.line-logo:hover {
	opacity: 0.8;
}

.artists-wrap {
}

.artists-wrap .artist {
	color: #333;
	background: #e67e22;
	float: left;
	width: 150px;
	height: 150px;
	position: relative;
	margin: 15px 15px 0 0;
}

.artists-wrap .artist:nth-child(4n) {
	margin-right: 0;
}

.artists-wrap .artist img {
	width: 150px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.artists-wrap .artist span {
	position: absolute;
	z-index: 2;
	color: #fff;
	background: #252525;
	padding: 2px 5px;
	font-size: 12px;
	text-transform: uppercase;
	top: 2px;
	left: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 15px;
	max-width: 136px;
	white-space: nowrap;
}
