body {
	color: #fff;
	background: url('../images/bg.png') #252525;
	background-size: 1440px;
	overflow: hidden;
}

::selection {
	background-color: #e67e22;
}

::-moz-selection {
	background-color: #e67e22;
}

.wrapper {
	width: 450px;
	margin: 120px auto;
	padding: 25px;
	text-align: center;
	-webkit-animation: show .3s ease-in-out;
	-moz-animation: show .3s ease-in-out;
	-ms-animation: show .3s ease-in-out;
	animation: show .3s ease-in-out;
}

.logo {
	font: 36px 'Montserrat Alternates', 'Helvetica Neue', sans-serif;
}

.desc {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	width: 325px;
	margin: 15px auto;
	text-transform: uppercase;
	padding: 15px 0;
	border-bottom: 1px dotted rgba(255,255,255,0.5);
	border-top: 1px dotted rgba(255,255,255,0.5);
}

.logo-wrap,
.desc {
	color: #fff;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.logo-wrap:hover,
.desc:hover {
	opacity: 0.8;
	cursor: default;
}

.fb-login-wrap {
	width: 220px;
	margin: 25px auto;
	position: relative;
}

.fb-login {
	display: block;
	color: #fff;
	background: #0f66aa;
	font-size: 13px;
	padding: 10px 15px 10px 10px;
	text-transform: uppercase;
	text-decoration: none;
}

.fb-login i {
	font-size: 18px;
}

.fb-login span {
	margin-left: 5px;
}

.fb-login span,
.fb-login i {
	display: inline-block;
	vertical-align: top;
	line-height: 20px;
}

.fb-login:hover {
	opacity: 0.8;
}

.vote-wrap {
	color: #333;
	background: #fff;
	font-size: 12px;
	font-weight: 800;
	padding: 5px 0 3px;
	margin-left: -168px;
	width: 335px;
	position: absolute;
	bottom: -125px;
	left: 50%;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2),0 0 0 3px rgba(255,255,255,0.4);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.vote-wrap.slide {
	bottom: 25px;
}

.vote-wrap p {
	display: inline-block;
	vertical-align: top;
	line-height: 26px;
	margin-left: 15px;
}

.vote-wrap iframe {
	display: inline-block;
	margin-left: 10px;
}

.nko-ribbon, .nko-ribbon:hover {
	display: block;
	background: #e67e22;
	color: #fff;
	font-weight: bold;
	padding: 8px 50px;
	position: absolute;
	top: 35px;
	right: -45px;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: 1;
}

@-webkit-keyframes show {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-moz-keyframes show {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes show {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
