html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: 0;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.bullet {
	list-style: circle;
}

.hidden {
	display: none;
}

.clearfix {
	display: block;
}

.clearfix:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

@font-face {
	font-family: 'icon-font';
	src: url('../fonts/streamlikes-icon-font.eot');
	src: url('../fonts/streamlikes-icon-font.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/streamlikes-icon-font.ttf') format('truetype'),
		 url('../fonts/streamlikes-icon-font.svg#streamlikes-icon-font') format('svg'),
		 url('../fonts/streamlikes-icon-font.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before,
.font-icon:before {
	font-family: 'icon-font';
	content: attr(data-icon);
	font-style: normal;
	font-weight: normal;
	speak: none;
	line-height: 1;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

::selection {
	background-color: #e67e22;
}

::-moz-selection {
	background-color: #e67e22;
}

body {
	color: #fff;
	font: 14px 'Source Sans Pro', 'Helvetica Neue', sans-serif;
	background-color: #252525;
	background-image: url('../images/bg.png');
	background-size: 1440px;
	overflow: hidden;
}

a {
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
	transition: all .3s ease-in;
}
